<div style="display: flex;justify-content: space-around;height: 250px;">
	<img src="assets/93.jpg" style="width:150px;height: 150px;border-radius: 50%;">
	<b style=" font-family: 'Acme', sans-serif;  color: #000000;">nom et prenom</b>
	<button type="button" style="height: 40px;margin-top: 50px;" class="btn btn-warning" (click)="model()"><b style="font-family: 'Acme', sans-serif;  color: #000000; " >tout les model</b></button>
		<button type="button" style="height: 40px;margin-top: 50px;" class="btn btn-warning" (click)="tissus()"><b style="font-family: 'Acme', sans-serif;  color: #000000; " >tout les tissus</b></button>
			<button type="button" style="height: 40px;margin-top: 50px;" class="btn btn-warning" (click)="accesoire()"><b style="font-family: 'Acme', sans-serif;  color: #000000; " >tout les accesoire</b></button>
</div>
<div style="display: flex;justify-content: space-around;">
	       
    <div>     
 <label>search by serie</label>
             <input type="text " style="height: 40px; "  >
             </div> 

                <div>     
 <label>search by name</label>
             <input type="text " style="height: 40px; "  >
             </div> 
             
</div>



<div style="display: flex;flex-direction: column;;">
<div style="display: flex;justify-content: space-around;margin-bottom: 20px;" *ngFor="let model of list ; let i =index"
><img [src]="images[i]" style="width:150px;height: 150px;border-radius: 50%;">
	<h5 style="padding-top: 50px;">{{model.name}}</h5>
	<h5 style="padding-top: 50px;">{{model.id}}</h5>
		<h5 *ngIf="mode != 'model'" style="padding-top: 50px;">{{model.nbserie}}</h5>
	<button type="button" style="height: 40px;margin-top: 50px;" class="btn btn-warning;" (click)="deleteModel(model.id)"><b style="font-family: 'Acme', sans-serif;  color: #000000;padding-top: 50px; " >delete</b></button>
	<button type="button" style="height: 40px;margin-top: 50px;" class="btn btn-warning"><b style="font-family: 'Acme', sans-serif;  color: #000000; " >update</b></button>

</div>
</div>