<div style="display: flex;flex-direction: column;justify-content: center;margin-top: 100px;">
            <div style="    display: flex;background-color: #232F3E;width: 30%;margin-left: 30%;">
            
            <a href=""><img src="assets/logo.png" style="width: 60px ; height: 60px ; margin-right: 1px;"></a>
            
           <h5 class=" test" style="color: #ebe3cf; font-family: 'Acme', sans-serif;margin-top: 15px;">Cinderella</h5>
           </div>

		   <div class="box">   
            <label class="text">Mail</label>
             <input type="text " style="height: 40px; width:100%; "  >
             </div>


             <div class="box">
              <label class="text">password</label>
             <input type="text " style="height: 40px; width: 100%;"  >
             </div>

     </div>


             <style type="text/css">
             	
             	.text{
             	color: #232F3E; font-family: 'Acme', sans-serif;margin-top: 15px;

             	}
             	.box{
             		display: flex;justify-content: center;
             		flex-direction: column;
             		width: 30%;
             		margin-left: 30%;



             	}
             	 .test::first-letter {
                color: #92a197; 
                font-size: 30px;
                
              }
             </style>
            
             
	