




<div (click)="change()" [ngClass]="class2" class="row" style="height: 400px;cursor: pointer; background-color: #658577;justify-content:space-between;
">
		<img class="banniere_image" src="assets/home11.jpeg"style="width:250px;">

<div style="display: flex;justify-content: space-around; margin-top: 100px;border-bottom:2px #b59860 solid;margin-bottom: 220px;margin-right: 50px">

		<b class="test1" style="color: #b59860; font-family: 'Acme', sans-serif;font-size:35px;  "> Vendre toutes sortes de tissus</b>
</div>


	
		
		
		<img class="banniere_image1" src="assets/home1.jpeg"style="width:250px;;">






	




</div>
<div  (click)="change()"[ngClass]="class4 "  class="row"  style="background-image:url(assets/91.png);justify-content: flex-start; /* Center the image */background-position: center; 
  background-repeat: no-repeat; background-size: cover;height: 400px;justify-content: center;cursor: pointer;
">
		
							
										



<div  style="flex-direction: column;display: flex;justify-content: center;    align-items: center;
">
	<b style="color: #ffffff; font-family: 'Dancing Script', cursive; font-size:35px; "> Sew all kinds of curtains</b>
	<b style="color: #68022a; font-family: 'Dancing Script', cursive; font-size:35px; margin-right: 100px;"> خياطة  جميع أنواع الستائر</b>
	</div>


				
</div>
<div  (click)="change()" [ngClass]="class3" class="row" style="justify-content: flex-start;height: 400px; cursor: pointer;">
		<img src="assets/020.jpg"style="height: 400px;">



<div style="display: flex;justify-content: space-around; padding-top: 100px; padding-bottom: 220px; flex-direction: column;">

		<b class="test" style="color: #4e6875; font-family: 'Acme', sans-serif;font-size:35px; margin-left: 200px ;"> installer toutes sortes de Rideaux</b>
				<img src="assets/xvc.jpg"style="height: 100px;width: 100px; margin-left: 300px ;">

</div>



</div>
   <style type="text/css">
              .test::first-letter {
                color: #ececeb; 
                font-size: 45px;
                
              }
           
              .test1::first-letter {
                color: #d9d3b8; 
                font-size: 40px;
                
              }
               .test2::first-letter {
                color: #8b8b8b; 
                font-size: 50px;
                
              }
              .hide {
              	display: none;

              }
                @media screen and (max-width: 800px)
              {
                  .banniere_image
                  {
                       display: none;
                   }

               }
               @media screen and (max-width: 1000px)
              {
                  .banniere_image1
                  {
                       display: none;
                   }

               }
               .visible{
               	 display: flex;
               }
            </style>






            
          






<!--
<div class="row">
	<app-bestprice [list]="bestprice"></app-bestprice>




</div>
!-->


<div style="display: flex;" >
<img src="assets/gggg.jpg" style="width: 100px">


<div style="display:flex;flex-direction: column;"  (mouseenter)="mouseEnter()">
	<div style="display:flex;"></div>
	<b style="color: #2e3d5c; font-family: 'Acme', sans-serif; font-size: 30px;padding-left: 20px;margin-bottom: 1px;" >Les Modèles De Rideaux</b>
<div [ngClass]="class"> plus de 20 Modèles et 20 Marque International sont  disponibles en tunisie </div>
<div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
	

			<app-onetype class="click"  classColore2="classe2" classColore1="class1" link="/tout/model/enfant"  classColore="class4" name="Chambre d'enfant" image="assets/modelenfant.jpg" ></app-onetype>
			<app-onetype  routerLink="tout/model/fenetre" classColore2="classe2" link="/tout/model/fenetre"  classColore1="class1" classColore="class4" name="Porte fenetre" image="assets/modelfenetre.jpg"></app-onetype>
			<app-onetype routerLink="tout/model/salon"   classColore2="classe2"  classColore1="class1" classColore="class4" name="Salon"image="assets/modelsalon.jpg"></app-onetype>
			<app-onetype  routerLink="tout/model/chambre" classColore2="classe2"  classColore1="class1" classColore="class4"name="chambre" image="assets/modelchambre.jpg"></app-onetype>
			<style type="text/css">
		

			</style>

	




</div>
</div>
</div>

<div style="display: flex;justify-content: center; border:25px #d2cdc9 solid ;">
	<div style="display: flex;justify-content: center;flex-direction: column;">
		<b class="test2" style="color: #2e3d5c; font-family: 'Acme', sans-serif; font-size:35px; border-bottom: 1px #6a4532 solid;padding-top: 50px; "> installer des rideaux en ligne </b>
	<div style="display: flex;">
		<b class="" style="color: #8b8b8b; font-family: 'Acme', sans-serif; font-size:16px; padding-top: 8px;"> Follow Us :</b>
		<img src="assets/facebook.png" style="width: 30px;height: 30px;">
	<img src="assets/instagram.png" style="width: 30px;height: 30px;">
	</div>
</div>
	
	
	<img src="assets/line1.jpg" style="width: 200px;height: 200px;border-radius: 50%;margin:10px 10px 10px 10px;">
</div>


<div style="display: flex; " >
<img src="assets/gggg.jpg" style="width: 100px;height: 400px;">


<div style="display:flex;flex-direction: column;" (mouseenter)="mouseEnter1()" >
	<b style="color: #2e3d5c; font-family: 'Acme', sans-serif; font-size: 30px;padding-left: 20px;margin-bottom: 1px;">Les Accessoires De Rideaux</b>
	<div [ngClass]="class1"> plus de 20 Modèles et 20 Marque International sont  disponibles en tunisie </div>

<div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
	

			<app-onetype link="tout/getaccesoire/poteaux" classColore2="class2" classColore1="classe1" classColore="class6" name="Poteaux à rideaux" image="assets/getaccesoirepoteaux.jpg"></app-onetype>
			<app-onetype  link="tout/getaccesoire/embrasses"  classColore2="class2" classColore1="classe1"  classColore="class6" name="Embrasses" image="assets/getaccesoireembrasses.jpg"></app-onetype>
			<app-onetype link="tout/getaccesoire/frange"  classColore2="class2" classColore1="classe1" classColore="class6" name="la frange"image="assets/getaccesoirefrange.jpg"></app-onetype>
			<app-onetype link="tout/getaccesoire/mercerie"  classColore2="class2" classColore1="classe1" classColore="class6"name="Mercerie" image="assets/getaccesoiremercerie.jpg"></app-onetype>




</div>
</div>
</div>
	


<!---------------!-->
<div style="display: flex;flex-direction: column;border:25px #eee solid ">
<div style="display: flex;justify-content: center; ; ">
	<div style="display: flex;justify-content: center;flex-direction: column;">
		<b class="test2" style="color: #2e3d5c; font-family: 'Acme', sans-serif; font-size:35px; border-bottom: 1px #6a4532 solid;padding-top: 50px; ">  Make your collection for your curtain  </b>
	<div style="display: flex;">
		<b class="" style="color: #8b8b8b; font-family: 'Acme', sans-serif; font-size:16px; padding-top: 8px;">plus de 20 type de tissus sont disponible</b>
	
	</div>
</div>
	
	
	<!--img src="assets/3.jpg" style="width: 200px;height: 200px;border-radius: 50%;margin:10px 10px 10px 10px;"!-->
</div>





<div style="display: flex;flex-wrap: wrap;justify-content: space-around;margin-top: 50px;" >
	

			<app-onetype classColore2="classe2" classColore1="class1"  classColore="class4" name="voile//الفوال " image="assets/tissusvoile.jpg"></app-onetype>
			<app-onetype classColore2="classe2"  classColore1="class1" classColore="class4" name="soie //الحرير" image="assets/tissusslik.jpg"></app-onetype>
			<app-onetype  classColore2="classe2"  classColore1="class1" classColore="class4" name=" plush//القطيفة"image="assets/tissusplush.jpg"></app-onetype>
			<app-onetype classColore2="classe2"  classColore1="class1" classColore="class4"name="organza// الأورجانزا " image="assets/tissusorgansa.webp"></app-onetype>
			<!-- /////////////////////// !-->
			<app-onetype classColore2="classe2" classColore1="class1"  classColore="class4" name="linen // الكتان  " image="assets/tissuslinen.jpg"></app-onetype>
			<app-onetype classColore2="classe2"  classColore1="class1" classColore="class4" name="القطن cotton" image="assets/tissuscotton.jpg"></app-onetype>

			<app-onetype  classColore2="classe2"  classColore1="class1" classColore="class4" name=" الستان satin"image="assets/tissusstain.webp"></app-onetype>
			
			

	




</div>
</div>
<div style="display: flex;flex-direction: column;">
	<b style="color: #2e3d5c; font-family: 'Acme', sans-serif; font-size: 30px;">comment acheter des rideau avec cinderella</b>
	<div> <img src="assets/jja2.jpg" style="width: 20%;">
	 <b style="font-size:  100px;color: #eebebc; font-family: 'Acme', sans-serif;">1</b></div>
	
	<img src="assets/jja3.jpg" style="width: 20%;">
	<img src="assets/jja4.jpg" style="width: 20%;">
</div>
<style type="text/css">
	
	.class{
		color: #8b8b8b; font-family: 'Acme', sans-serif;  font-size: 16px; height: 50px;
	}
	.class1{
		color: #8b8b8b; font-family: 'Acme', sans-serif;  font-size: 16px; height: 50px;
	}
	.class2{
		color: #8b8b8b; font-family: 'Acme', sans-serif;  font-size: 16px;visibility: hidden;
		height: 50px
	}</style>
